.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    text-align: center;
    flex: 1 1 250px;
}
.product img{
    max-width: 100%;
    border-radius: 4px;
}

.product del{
    text-decoration-color: red;
}
.product strong{
    color: #508d05;
}
.product h4{
    color: #2707c3;
}
.product li{
    list-style-type: none;
}